<!DOCTYPE html>
<html>
  <head>
    <title>Brava</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>

    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>

    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>

    <script type="text/javascript">
        window.login_imgURL1 = "<%= image_url('paxson-woelber-7rjr44Ityqo-unsplash.jpg') %>";
        window.login_imgURL2 = "<%= image_url('shane-rounce-03cHOSwUXqs-unsplash.jpg') %>";
        window.login_imgURL3 = "<%= image_url('alex-gorham-jqrWv4jQw88-unsplash.jpg') %>";
        window.login_imgURL4 = "<%= image_url('sporlab-XiZ7pRvCzro-unsplash.jpg') %>";
        window.login_imgURL5 = "<%= image_url('tim-foster-8LI_Z_d6Wa4-unsplash.jpg') %>";
        window.promo_card = "<%= image_url('john-gough-hiIa41IoVZs-unsplash.jpg') %>"

        
        window.splash_imgURL = "<%= image_url('devices-splash-header.jpg') %>";
        window.demo_avatar_imgURL = "<%= image_url('demo-avatar.jpg') %>";
    </script>
    <script src="https://kit.fontawesome.com/b5bfb11c19.js" crossorigin="anonymous"></script>
  
    <link href="https://fonts.googleapis.com/css?family=Kanit:800&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>

    <script type="text/javascript">
      window.mapboxAPIKey = "<%= Rails.application.credentials.mapbox[:api_key] %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
