<!DOCTYPE html>
<html>
  <head>
    <title>StravaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript">
        window.login_img1URL = "<%= image_url('shane-rounce-03cHOSwUXqs-unsplash.jpg') %>";
        window.splash_imgURL = "<%= image_url('devices-splash-header.jpg') %>";
    </script>
    <link href="https://fonts.googleapis.com/css?family=Kanit:800&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
